/* BURGER ANIMATION */

@keyframes burgerclick{
    0%{
      transform: rotate(0deg);
    }

    100%{
      transform: rotate(-180deg);
    }
  }
  
   #burger{
      animation-name: burgerclick;
      animation-duration: 500ms;
      
  } 

  /* NAV IMG FADE  */

  @keyframes fade{
    0%{
      opacity: 0;
    }

    100%{
      oapcity: 1;
    }
  }
  
   #nav-img{
      animation-name: fade;
      animation-duration: 1000ms;
      
  } 

  /* BIG NAV FADE  */

  #big-nav-ul{
    animation-name: fade;
    animation-duration: 1300ms;
  }

  @media only screen and (min-width:769px){
   
    @keyframes bignav{
      0%{
        right: -100%;
      }
  
      100%{
        right: 0;
      }
    }
  
    #big-nav{
      animation-name: bignav;
      animation-duration: 300ms;
      animation-timing-function: ease-out;
    }
  
  }


